.vscode

# virtual environment
env

# ignore envirnment variables
.env

# Development with modules
*.egg-info/

# notebooks
*/.ipynb_checkpoints
**/__pycache__
notebooks/experiment.ipynb
notebooks/*.csv

experiments/

# ignore OSX stuff
.DS_Store
*/.DS_Store
*/*/.DS_Store

data/
**/**.csv
experiments